In [51]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

home_data = pd.read_csv("./datasets/melb_data.csv")
home_data = home_data.dropna(axis="index")
home_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [29]:
#Output taget
y = home_data.Price

In [49]:
# input features
input_feat = ["Rooms", "Bathroom", "Car", "YearBuilt", "Landsize", "Lattitude", "Longtitude","BuildingArea","Propertycount"]

X = home_data[input_feat]

my_model = DecisionTreeRegressor(random_state=1)

my_model.fit(X,y)
X

input_feat = ["Rooms", "Bathroom", "Car", "YearBuilt","Landsize", "Lattitude", "Longtitude", "Price"]
actual = home_data[input_feat]
actual.head()

   Rooms  Bathroom  Car  YearBuilt  Landsize  Lattitude  Longtitude      Price
1      2       1.0  0.0     1900.0     156.0   -37.8079    144.9934  1035000.0
2      3       2.0  0.0     1900.0     134.0   -37.8093    144.9944  1465000.0
4      4       1.0  2.0     2014.0     120.0   -37.8072    144.9941  1600000.0
6      3       2.0  0.0     1910.0     245.0   -37.8024    144.9993  1876000.0
7      2       1.0  2.0     1890.0     256.0   -37.8060    144.9954  1636000.0

In [46]:
my_model.predict(X.head())

array([1035000., 1465000., 1600000., 1876000., 1636000.])

In [50]:
# error
predicted_price = my_model.predict(X)
mean_absolute_error(y,predicted_price)

433.1020012911556

In [53]:
home_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0

In [71]:
# output target
y = home_data.Price
# input fetaures array
input_feat = ["Rooms", "Bathroom", "Car", "YearBuilt", "Landsize", "Lattitude", "Longtitude","BuildingArea","Propertycount"]
# input feature
X = home_data[input_feat]
# create a model
new_model  = DecisionTreeRegressor(random_state=1)
# Train the model or fiiting the model
new_model.fit(X,y)

# predict the output
predicted_val = new_model.predict(X)
# mean absolute error
predicted_val
mean_absolute_error(y,predicted_val)

433.1020012911556

In [99]:
# output target
y = home_data.Price
# input fetaures array
input_feat = ["Rooms", "Bathroom", "Car", "YearBuilt", "Landsize", "Lattitude", "Longtitude","BuildingArea","Propertycount"]
# input feature
X = home_data[input_feat]

def result(nodes):
    # create a model
    new_model  = DecisionTreeRegressor(max_leaf_nodes=nodes, random_state=1)
    # Split the training and test data
    X_train, X_test, y_train, y_test  = train_test_split(X,y, random_state=1)

    # fit or train the model
    new_model.fit(X_train,y_train)
    # predict the model with test data
    pred = new_model.predict(X_test)
    return mean_absolute_error(y_test,pred)

for node in [5,50,200,300,500,1000]:
    print(result(node))

324110.91454760684
255058.01084823936
236306.9009416127
234731.7795363262
238711.0779339296
242877.84425206488

In [100]:
def get_mae(size):
    return size

candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes
scores = {leaf_size: get_mae(leaf_size) for leaf_size in candidate_max_leaf_nodes}
best_tree_size = min(scores, key=scores.get)

In [104]:
scores.get