In [15]:
import pandas as pd 

pd.DataFrame({"name":["sam","ram","alice","bob"], "age":[10,20,30,40]},index=["Product A", "Product B","ProdcutC", "Product D"])

            name  age
Product A    sam   10
Product B    ram   20
ProdcutC   alice   30
Product D    bob   40

In [8]:
data = pd.read_csv('./csv/test.csv', index_col=0)
data.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [30]:
data.iloc[0:8, [0,1]]

    country                                        description
0     Italy  Aromas include tropical fruit, broom, brimston...
1  Portugal  This is ripe and fruity, a wine that is smooth...
2        US  Tart and snappy, the flavors of lime flesh and...
3        US  Pineapple rind, lemon pith and orange blossom ...
4        US  Much like the regular bottling from 2012, this...
5     Spain  Blackberry and raspberry aromas show a typical...
6     Italy  Here's a bright, informal red that opens with ...
7    France  This dry and restrained wine offers spice in p...